
/*** Applies only to Home Page ***/

/* Heading: Name */
#my-name {
    margin-top: 8px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}

/* */
#my-name-body {
    font-size: 20px;
}

/* */
#about-me {
    background-color: rgb(27, 101, 145);
    color: rgb(60,60,60);
    padding-left: 20%;
    padding-right: 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(180, 103, 103);

    text-align: center;
    color: white;
}

#snapshot {
    padding: 10px;
    background-color: black;
    font-weight: bold;
    color:rgb(244, 144, 60);
    border-radius: 20px;
}

/********************************************************/
/********************************************************/
/* Recipes div wrap (black border and biege background) */
#portfolio {
    background-color: rgb(53, 117, 155);
    color: rgb(60,60,60);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 200px;
    border-top: 1px solid black;
}

/* Heading: Portfolio */
#portfolio div h1 {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    color: white;
    font-weight: bold;
    margin-top: 8px;
    font-size: 50px;
}

.main-body {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 32px;

    background-color: rgb(53, 117, 155);
    color: rgb(60,60,60);
    border-top: 4px solid black;
}

.main-list-body {
    padding-bottom: 200px;
    padding-top: 32px;
    border-top: 4px solid black;
}

#project-name {
    text-decoration: none; /* Remove the underline from the link */
}

#project-name a {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none; /* Remove the underline from the link */
}

#project-name a:hover  {
    color: rgb(241, 122, 66); /* Change the link color on hover */
}

#project-name a:active  {  
    color: #383838;               /* Change the link color when clicked */
    background-color: transparent;  /* Remove any background color when clicked (optional) */
    outline: none;                  /* Remove the browser's default focus outline (optional) */
}

/***************************************************************************/
/***************************************************************************/
/*********************************** Images ********************************/
.project-image {  
    display: flex;
    justify-content: center;        /* Horizontally center the content */
    width: 100%;                    /* Make the container fill the screen width */
}

.project-image .divider {
    padding-bottom: 16px;
    margin-bottom: 48px;
    border-bottom: 5px solid rgb(22, 22, 22);
}

.project-image img {  
    max-width: 100%;                 /* Set the image's width to 100% of its container */
    max-height: 100%;                /* Set the image's height to 100% of its container */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/*********************************** Images ********************************/
/***************************************************************************/
/***************************************************************************/

/***************************************************************************/
/***************************************************************************/
/*********************************** Videos ********************************/
.project-video {
    display: flex;
    justify-content: center;        /* Horizontally center the content */
    width: 100%;                    /* Make the container fill the screen width */
}

.project-video .divider {
    padding-bottom: 8px;
    margin-bottom: 48px;
    border-bottom: 5px solid rgb(22, 22, 22);
}

.project-video iframe {
    max-width: 100%;                /* Set the image's width to 100% of its container */
    max-height: 100%;               /* Set the image's height to 100% of its container */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/*********************************** Videos ********************************/
/***************************************************************************/
/***************************************************************************/


/* Recipes div wrap (black border and biege background) */
/********************************************************/
/********************************************************/


/********************************************************/
/********************************************************/
/***************** Buttons for View Modes ***************/

/* "List-View" Button Style */
#list-button {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}
#list-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
#list-button:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

#list-button.selected {
    color: rgb(236, 125, 50);
}

/* "Grid-View" Button Style */
#grid-button {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}
#grid-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
#grid-button:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

#grid-button.selected {
    color: rgb(236, 125, 50);
}

/***************** Buttons for View Modes ***************/
/********************************************************/
/********************************************************/

/********************************************************/
/********************************************************/
/*********************** View Modes *********************/

/* Default styles for both list and grid views */
.view-mode {
    display: none;
  }
  
  /* Styles for the list view */
  .view-mode.list {
    display: block;
  }
  
  /* Styles for the grid view */
  .view-mode.grid {
    display: block;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; /* Adjust the gap between grid items as needed */
  }
  
  /* Style for the view toggle buttons */
  #view-toggle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*********************** View Modes *********************/
  /********************************************************/
  /********************************************************/